<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.dao.AdClickTrendMapper">
    <sql id="Base_Column_List">
            `date`,
            `hour`,
            `minute`,
            adid,
            clickCount
    </sql>
    <resultMap id="BaseResultMap" type="com.jxust.entity.AdClickTrend">
    <!--@mbg.generated-->
    <!--@Table commerce.ad_click_trend-->
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="hour" jdbcType="VARCHAR" property="hour" />
    <result column="minute" jdbcType="VARCHAR" property="minute" />
    <result column="adid" jdbcType="INTEGER" property="adid" />
    <result column="clickCount" jdbcType="INTEGER" property="clickcount" />
  </resultMap>
  <insert id="insert" parameterType="com.jxust.entity.AdClickTrend">
    <!--@mbg.generated-->
    insert into commerce.ad_click_trend (`date`, `hour`, `minute`, 
      adid, clickCount)
    values (#{date,jdbcType=VARCHAR}, #{hour,jdbcType=VARCHAR}, #{minute,jdbcType=VARCHAR}, 
      #{adid,jdbcType=INTEGER}, #{clickcount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jxust.entity.AdClickTrend">
    <!--@mbg.generated-->
    insert into commerce.ad_click_trend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        `date`,
      </if>
      <if test="hour != null">
        `hour`,
      </if>
      <if test="minute != null">
        `minute`,
      </if>
      <if test="adid != null">
        adid,
      </if>
      <if test="clickcount != null">
        clickCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="hour != null">
        #{hour,jdbcType=VARCHAR},
      </if>
      <if test="minute != null">
        #{minute,jdbcType=VARCHAR},
      </if>
      <if test="adid != null">
        #{adid,jdbcType=INTEGER},
      </if>
      <if test="clickcount != null">
        #{clickcount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into commerce.ad_click_trend
    (`date`, `hour`, `minute`, adid, clickCount)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.date,jdbcType=VARCHAR}, #{item.hour,jdbcType=VARCHAR}, #{item.minute,jdbcType=VARCHAR}, 
        #{item.adid,jdbcType=INTEGER}, #{item.clickcount,jdbcType=INTEGER})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-07-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commerce.ad_click_trend
    </select>
</mapper>