<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.dao.AdUserClickCountMapper">
    <sql id="Base_Column_List">
            `date`,
            userid,
            adid,
            clickCount
    </sql>
    <resultMap id="BaseResultMap" type="com.jxust.entity.AdUserClickCount">
    <!--@mbg.generated-->
    <!--@Table commerce.ad_user_click_count-->
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="adid" jdbcType="INTEGER" property="adid" />
    <result column="clickCount" jdbcType="INTEGER" property="clickcount" />
  </resultMap>
  <insert id="insert" parameterType="com.jxust.entity.AdUserClickCount">
    <!--@mbg.generated-->
    insert into commerce.ad_user_click_count (`date`, userid, adid, 
      clickCount)
    values (#{date,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{adid,jdbcType=INTEGER}, 
      #{clickcount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jxust.entity.AdUserClickCount">
    <!--@mbg.generated-->
    insert into commerce.ad_user_click_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        `date`,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="adid != null">
        adid,
      </if>
      <if test="clickcount != null">
        clickCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="adid != null">
        #{adid,jdbcType=INTEGER},
      </if>
      <if test="clickcount != null">
        #{clickcount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into commerce.ad_user_click_count
    (`date`, userid, adid, clickCount)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.date,jdbcType=VARCHAR}, #{item.userid,jdbcType=INTEGER}, #{item.adid,jdbcType=INTEGER}, 
        #{item.clickcount,jdbcType=INTEGER})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-07-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commerce.ad_user_click_count
    </select>
</mapper>