<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.dao.AreaTop3ProductMapper">
    <sql id="Base_Column_List">
            taskid,
            area,
            areaLevel,
            productid,
            cityInfos,
            clickCount,
            productName,
            productStatus
    </sql>
    <resultMap id="BaseResultMap" type="com.jxust.entity.AreaTop3Product">
    <!--@mbg.generated-->
    <!--@Table commerce.area_top3_product-->
    <result column="taskid" jdbcType="LONGVARCHAR" property="taskid" />
    <result column="area" jdbcType="LONGVARCHAR" property="area" />
    <result column="areaLevel" jdbcType="LONGVARCHAR" property="arealevel" />
    <result column="productid" jdbcType="BIGINT" property="productid" />
    <result column="cityInfos" jdbcType="LONGVARCHAR" property="cityinfos" />
    <result column="clickCount" jdbcType="BIGINT" property="clickcount" />
    <result column="productName" jdbcType="LONGVARCHAR" property="productname" />
    <result column="productStatus" jdbcType="LONGVARCHAR" property="productstatus" />
  </resultMap>
  <insert id="insert" parameterType="com.jxust.entity.AreaTop3Product">
    <!--@mbg.generated-->
    insert into commerce.area_top3_product (taskid, area, areaLevel, 
      productid, cityInfos, clickCount, 
      productName, productStatus)
    values (#{taskid,jdbcType=LONGVARCHAR}, #{area,jdbcType=LONGVARCHAR}, #{arealevel,jdbcType=LONGVARCHAR}, 
      #{productid,jdbcType=BIGINT}, #{cityinfos,jdbcType=LONGVARCHAR}, #{clickcount,jdbcType=BIGINT}, 
      #{productname,jdbcType=LONGVARCHAR}, #{productstatus,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxust.entity.AreaTop3Product">
    <!--@mbg.generated-->
    insert into commerce.area_top3_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskid,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="arealevel != null">
        areaLevel,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="cityinfos != null">
        cityInfos,
      </if>
      <if test="clickcount != null">
        clickCount,
      </if>
      <if test="productname != null">
        productName,
      </if>
      <if test="productstatus != null">
        productStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=LONGVARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=LONGVARCHAR},
      </if>
      <if test="arealevel != null">
        #{arealevel,jdbcType=LONGVARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="cityinfos != null">
        #{cityinfos,jdbcType=LONGVARCHAR},
      </if>
      <if test="clickcount != null">
        #{clickcount,jdbcType=BIGINT},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=LONGVARCHAR},
      </if>
      <if test="productstatus != null">
        #{productstatus,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into commerce.area_top3_product
    (taskid, area, areaLevel, productid, cityInfos, clickCount, productName, productStatus
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.taskid,jdbcType=LONGVARCHAR}, #{item.area,jdbcType=LONGVARCHAR}, #{item.arealevel,jdbcType=LONGVARCHAR}, 
        #{item.productid,jdbcType=BIGINT}, #{item.cityinfos,jdbcType=LONGVARCHAR}, #{item.clickcount,jdbcType=BIGINT}, 
        #{item.productname,jdbcType=LONGVARCHAR}, #{item.productstatus,jdbcType=LONGVARCHAR}
        )
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-07-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commerce.area_top3_product
    </select>
</mapper>