<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.dao.PageSplitConvertRateMapper">
    <sql id="Base_Column_List">
            taskid,
            convertRate
    </sql>
    <resultMap id="BaseResultMap" type="com.jxust.entity.PageSplitConvertRate">
    <!--@mbg.generated-->
    <!--@Table commerce.page_split_convert_rate-->
    <result column="taskid" jdbcType="LONGVARCHAR" property="taskid" />
    <result column="convertRate" jdbcType="LONGVARCHAR" property="convertrate" />
  </resultMap>
  <insert id="insert" parameterType="com.jxust.entity.PageSplitConvertRate">
    <!--@mbg.generated-->
    insert into commerce.page_split_convert_rate (taskid, convertRate)
    values (#{taskid,jdbcType=LONGVARCHAR}, #{convertrate,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxust.entity.PageSplitConvertRate">
    <!--@mbg.generated-->
    insert into commerce.page_split_convert_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskid,
      </if>
      <if test="convertrate != null">
        convertRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=LONGVARCHAR},
      </if>
      <if test="convertrate != null">
        #{convertrate,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into commerce.page_split_convert_rate
    (taskid, convertRate)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.taskid,jdbcType=LONGVARCHAR}, #{item.convertrate,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-07-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commerce.page_split_convert_rate
    </select>
</mapper>