<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.dao.SessionRandomExtractMapper">
    <sql id="Base_Column_List">
            taskid,
            sessionid,
            startTime,
            searchKeywords,
            clickCategoryIds
    </sql>
    <resultMap id="BaseResultMap" type="com.jxust.entity.SessionRandomExtract">
    <!--@mbg.generated-->
    <!--@Table commerce.session_random_extract-->
    <result column="taskid" jdbcType="LONGVARCHAR" property="taskid" />
    <result column="sessionid" jdbcType="LONGVARCHAR" property="sessionid" />
    <result column="startTime" jdbcType="LONGVARCHAR" property="starttime" />
    <result column="searchKeywords" jdbcType="LONGVARCHAR" property="searchkeywords" />
    <result column="clickCategoryIds" jdbcType="LONGVARCHAR" property="clickcategoryids" />
  </resultMap>
  <insert id="insert" parameterType="com.jxust.entity.SessionRandomExtract">
    <!--@mbg.generated-->
    insert into commerce.session_random_extract (taskid, sessionid, startTime, 
      searchKeywords, clickCategoryIds
      )
    values (#{taskid,jdbcType=LONGVARCHAR}, #{sessionid,jdbcType=LONGVARCHAR}, #{starttime,jdbcType=LONGVARCHAR}, 
      #{searchkeywords,jdbcType=LONGVARCHAR}, #{clickcategoryids,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jxust.entity.SessionRandomExtract">
    <!--@mbg.generated-->
    insert into commerce.session_random_extract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskid,
      </if>
      <if test="sessionid != null">
        sessionid,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="searchkeywords != null">
        searchKeywords,
      </if>
      <if test="clickcategoryids != null">
        clickCategoryIds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=LONGVARCHAR},
      </if>
      <if test="sessionid != null">
        #{sessionid,jdbcType=LONGVARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=LONGVARCHAR},
      </if>
      <if test="searchkeywords != null">
        #{searchkeywords,jdbcType=LONGVARCHAR},
      </if>
      <if test="clickcategoryids != null">
        #{clickcategoryids,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into commerce.session_random_extract
    (taskid, sessionid, startTime, searchKeywords, clickCategoryIds)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.taskid,jdbcType=LONGVARCHAR}, #{item.sessionid,jdbcType=LONGVARCHAR}, #{item.starttime,jdbcType=LONGVARCHAR}, 
        #{item.searchkeywords,jdbcType=LONGVARCHAR}, #{item.clickcategoryids,jdbcType=LONGVARCHAR}
        )
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-07-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commerce.session_random_extract
    </select>
</mapper>