<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.dao.Top10SessionMapper">
    <sql id="Base_Column_List">
            taskid,
            categoryid,
            sessionid,
            clickCount
    </sql>
    <resultMap id="BaseResultMap" type="com.jxust.entity.Top10Session">
    <!--@mbg.generated-->
    <!--@Table commerce.top10_session-->
    <result column="taskid" jdbcType="LONGVARCHAR" property="taskid" />
    <result column="categoryid" jdbcType="BIGINT" property="categoryid" />
    <result column="sessionid" jdbcType="LONGVARCHAR" property="sessionid" />
    <result column="clickCount" jdbcType="BIGINT" property="clickcount" />
  </resultMap>
  <insert id="insert" parameterType="com.jxust.entity.Top10Session">
    <!--@mbg.generated-->
    insert into commerce.top10_session (taskid, categoryid, sessionid, 
      clickCount)
    values (#{taskid,jdbcType=LONGVARCHAR}, #{categoryid,jdbcType=BIGINT}, #{sessionid,jdbcType=LONGVARCHAR}, 
      #{clickcount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jxust.entity.Top10Session">
    <!--@mbg.generated-->
    insert into commerce.top10_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskid,
      </if>
      <if test="categoryid != null">
        categoryid,
      </if>
      <if test="sessionid != null">
        sessionid,
      </if>
      <if test="clickcount != null">
        clickCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=BIGINT},
      </if>
      <if test="sessionid != null">
        #{sessionid,jdbcType=LONGVARCHAR},
      </if>
      <if test="clickcount != null">
        #{clickcount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into commerce.top10_session
    (taskid, categoryid, sessionid, clickCount)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.taskid,jdbcType=LONGVARCHAR}, #{item.categoryid,jdbcType=BIGINT}, #{item.sessionid,jdbcType=LONGVARCHAR}, 
        #{item.clickcount,jdbcType=BIGINT})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-07-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commerce.top10_session
    </select>
</mapper>