<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxust.dao.Top10CategoryMapper">
    <sql id="Base_Column_List">
            taskid,
            categoryid,
            clickCount,
            orderCount,
            payCount
    </sql>
    <resultMap id="BaseResultMap" type="com.jxust.entity.Top10Category">
    <!--@mbg.generated-->
    <!--@Table commerce.top10_category-->
    <result column="taskid" jdbcType="LONGVARCHAR" property="taskid" />
    <result column="categoryid" jdbcType="BIGINT" property="categoryid" />
    <result column="clickCount" jdbcType="BIGINT" property="clickcount" />
    <result column="orderCount" jdbcType="BIGINT" property="ordercount" />
    <result column="payCount" jdbcType="BIGINT" property="paycount" />
  </resultMap>
  <insert id="insert" parameterType="com.jxust.entity.Top10Category">
    <!--@mbg.generated-->
    insert into commerce.top10_category (taskid, categoryid, clickCount, 
      orderCount, payCount)
    values (#{taskid,jdbcType=LONGVARCHAR}, #{categoryid,jdbcType=BIGINT}, #{clickcount,jdbcType=BIGINT}, 
      #{ordercount,jdbcType=BIGINT}, #{paycount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jxust.entity.Top10Category">
    <!--@mbg.generated-->
    insert into commerce.top10_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskid,
      </if>
      <if test="categoryid != null">
        categoryid,
      </if>
      <if test="clickcount != null">
        clickCount,
      </if>
      <if test="ordercount != null">
        orderCount,
      </if>
      <if test="paycount != null">
        payCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=LONGVARCHAR},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=BIGINT},
      </if>
      <if test="clickcount != null">
        #{clickcount,jdbcType=BIGINT},
      </if>
      <if test="ordercount != null">
        #{ordercount,jdbcType=BIGINT},
      </if>
      <if test="paycount != null">
        #{paycount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into commerce.top10_category
    (taskid, categoryid, clickCount, orderCount, payCount)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.taskid,jdbcType=LONGVARCHAR}, #{item.categoryid,jdbcType=BIGINT}, #{item.clickcount,jdbcType=BIGINT}, 
        #{item.ordercount,jdbcType=BIGINT}, #{item.paycount,jdbcType=BIGINT})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-07-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commerce.top10_category
    </select>
</mapper>