<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSchemaName" value="true" />
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.jxust.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.jxust.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="AnalysisOfUserBehaviors" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="AnalysisOfUserBehaviors">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.jxust.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.jxust.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.jxust.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.jxust.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="commerce:ad_blacklist">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="AdBlacklist" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:ad_click_trend">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="AdClickTrend" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:ad_province_top3">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="AdProvinceTop3" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:ad_stat">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="AdStat" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:ad_user_click_count">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="AdUserClickCount" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:area_top3_product">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="AreaTop3Product" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:page_split_convert_rate">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="PageSplitConvertRate" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:session_aggr_stat">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="SessionAggrStat" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:session_detail">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="SessionDetail" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:session_random_extract">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="SessionRandomExtract" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:top10_category">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Top10Category" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="commerce:top10_session">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Top10Session" />
                  <option name="moduleName" value="AnalysisOfUserBehaviors" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>